body {

  margin: 500px auto;
  box-sizing: border-box;
  text-align: center;
  background-color: lightblue;

}

button {
   display: inline;
   width: 100px;
   height: 33px;
   background-color: yellow;
   font-size: 18px;
   font-weight: bolder;
   border-radius: 10px;

}


h2 {
  font-size: 50px;
}
