

body {
  width: 100%;
  background-color: white;
  font-size: 22px;
  margin: 0 auto;

}

.header-top {
  padding-top: 15px;
  background-color: black;
  width: 100%;
  height: 225px;
  position: fixed;
  border-bottom: 1px solid white;
}

.header-text {
padding-left: 25px;
margin: auto;
text-shadow: 2px -2px 20px;
}

.header-text h1 {
color: white;
margin: 10px 0 0 0;
font-family: 'Source Sans Pro', sans-serif;
}

.header-text h3 {
  float: left;
}

.header-text-bold {
  font-size:  3em;
}

.sub-header-text {
  font-style: italic;
  font-family: 'Source Code Pro', monospace;
  color: #0D4D4D;
  margin-top: 0px;
}

main{
line-height: 1.6;
}

nav {
margin-top: -80px;
text-align: center;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.button {
  background-color: #2E4172;
  padding: 10px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
  filter: brightness(130%);
  opacity: 0.8;
  transition: 0.7s;
}

.button:hover {
  opacity: 1;
}

h2 {
 font-size: 3em;
 text-align: center;
 font-family: 'Source Sans Pro', sans-serif;
}

h3 {
  text-align: center;
  font-size: 1.4em;
  font-family: 'Source Sans Pro', sans-serif;
}

h4 {
  text-decoration: underline;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

.section-1 {
  width: 100%;
  padding: 125px 0;
  background-image: url(Kuvat/studio.jpg);
  background-blend-mode: overlay;
  background-size: cover;
  background-color: #303030;
}

.content-1 {
  margin: auto;
  max-width: 700px;
  text-align: justify;
  padding-bottom: 30px;
  background-color: transparent;
  color: white;
}

.content-1 h2 {
  margin-top: 150px;
}

.section-2 {
  max-width: 100%;
  padding: 15px;
  text-align: justify;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.section-3 {
  margin: auto;
  width: 100%;
  background-color: #303030;


}

.content-3 {
  margin: auto;
  max-width: 700px;
  padding: 15px;
  text-align: justify;
  color: white;
  background-color: #303030;
}

.my_gear {
  margin: auto;
  text-align: center;
  color: white;
}

.gear_list {
  margin: 0 auto;
  font-size: 0.9em;
}


.list_section {
  margin-left: 200px;
}


ul {
  display: inline-grid;
  grid-column-gap: 20px;
  max-width: 18%;
  margin-left: 50px;
  font-family: 'Source Sans Pro', sans-serif;
}

li {
  font-size: 1.1em;
  font-weight: bolder;
  margin-bottom: 25px;
}


.kuvat {
  float: left;
}

.oma_studio {

padding: 15px;
margin-left: 120px;
margin-top: 50px;
}



.studio_img {
  display: inline-table;
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid black;
  margin-left: 50px;
  margin-top: 25px;
  opacity: 0.3;
  transition: 0.7s;
}

.studio_img:hover {
  opacity: 1;
}



footer {

  width: 100%;
  height: 80px;

  background-color: black;
  color: white;
}

footer h2 {
  text-align: center;
  font-size: 1em;
}

@media screen and (max-width: 500px) {


  .header-top {
    height: 250px;

  }
  .header-text {
    padding: 0;
    text-align: center;
  }

  a {
    font-size: 1em;
  }

  .button {
    float: left;
    margin-top: -250px;
    margin-left: 0px;
  }

#button2 {
  float: right;
  margin-right: -1px;
}

.section-1 {
padding: 270px 0px;
}

.content-1{
  width: 100%;
}
.section-1 p {
  padding: 0 25px;
}

  .list_section {
  margin: 0 auto;
  }


  ul {
    margin: 0 auto;
    display: block;
    max-width: 90%;
    padding-right: 20px;
  }

.section-3 p {
  padding: 0 25px;
}

.oma_studio{
  margin: 0 auto;
}
  .studio_img {
    display: block;


  }
}
