body {
  background: black;
  font-size: 14px;
}

#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 600px;
  padding: 5px;
  border-radius: 20px;
  background: linear-gradient(#56c79f, #2c4a3f);
  box-shadow: 0px -2px 40px 2px orange;
}

#clockDisplay {
  text-align: center;
  color: #044275;
  font-size: 6em;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 7px;
}
