body {
  background-color: black;
  font-size: 14px;
}

main {

  width: 600px;
  margin: 50px auto;
}

header {
  height: 50px;
  background-color: white;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 600px;
  background-color: white;
}

button {
  background-color: orange;
  font-size: 2em;

}

#b0 {
  grid-column: 1/3;
}

#numOutput {
  font-size: 2em;
  text-align: center;
}
