.wrapper {
  display: grid;
  width: 350px;
  background-color: lightgreen;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
  grid-row-gap: 10px;

}

.div {
  width: 150px;
  margin: auto;
  text-align: right;
}
